/ {
    aliases {
        /* This alias is the magic link for the stm32_lptim_timer driver */
        stm32-lp-tick-source = &lptim1;
    };
};

&lptim1 {
    status = "okay";
    /* Use a prescaler of 32 to allow for longer sleep durations 
     * (up to 64 seconds) at the cost of some tick precision
     */
    st,prescaler = <32>;
};